@font-face {
  font-family: 'Bariol_Regular';
  src:url("fonts/Bariol_Regular.otf");
}


.body {
  font-family: 'Bariol_Regular';
}
a {
  color: #FFFFFF;
  font-family: 'Bariol_Regular';
}

.container {
  position: relative;
}
.navbar {
  background-color: #f56262;
  min-height: 110px;
  color: #FFFFFF;
}

.navbar-brand {
 padding: 0 15px;
 height: 80px;
 line-height: 80px;
}

.navbar-toggle {
 /* (110px - button height 34px) / 2 = 38px */
 margin-top: 38px;
 padding: 9px 10px !important;
}


.navbar-brand {
  padding: 0 15px;
  height: 80px;
  line-height: 80px;
}

.navbar-toggle {
  /* (110px - button height 34px) / 2 = 38px */
  margin-top: 38px;
  padding: 9px 10px !important;
}


/*-----------------------------------------------
-----------------------------------------------*/
.header {
  min-height: 620px;
  background-color: #e84545;
  color: white;
}
h1,h4,h5 {
  text-align: center;
  color:white;
  font-family: 'Bariol_Regular';
}
/*-----------------------------------------------
-----------------------------------------------*/
.cta {
  background-color: #202020;
  min-height: 300px;
  top: -8px;
  position: relative;
  padding: 35px;
}

.cta h4 {
  color: #d13f3f;
  font-family: 'Bariol_Regular';
}


.img-bg {
  background-image: url('img/cta-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
}

.cta h2 {
  color:white;
  font-family: 'Bariol_Regular';
}

.flex-center {
    display: flex;
    justify-content: center;
}

.cta .row {
  padding-top: 50px;
}

/*-----------------------------------------------
-----------------------------------------------*/
.cards {
  background-color: #6cc372;
  top:-8px;
  position: relative;
  padding: 15px 0px 50px 0px;
}
.card-img-top {
  border: 8px solid #6cc372;
  border-radius: 50%;
  margin:auto;
  margin-top: 30px;
}
.cards h5 {
  color:black;
  text-align: center;
  font-family: 'Bariol_Regular';
}
.card {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  height: 100%;
}
.card-title {
  color: black;
}

.cards .btn img {
  max-height: 20px;
  margin-right: 8px;
}

.card-body {
  height: 94px;
}
/*-----------------------------------------------
-----------------------------------------------*/

.price {
  min-height: 500px;
}
@media (min-width: 768px) {
  .navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-top: 41.5px;
    padding-bottom: 41.5px;
    line-height: 27px;
  }

  .card-img-top {
    max-width: 80%;
    border: 8px solid #6cc372;
    border-radius: 50%;
    margin-top: 30px;
  }

.col-sm-6  {
    margin-bottom: 30px;
  }
}
